
*{
	font-family: cursive;
}
html,body{
	background-color: black;


}

button {
    display: block;
    margin: 0 auto;
    padding: 6px 12px;

		border: 1px solid #ccc;
    border-radius: 4px;
    background: grey;

    color: white;
    font-weight: bold;

    font-size: 14px;
    line-height: 20px;
}

button:hover{
	background: grey;
	color: black;
}
#container{
	background-color: black;
	height: 100%;
	max-height: 100%;

}
#header{
	text-align: center;
	color: #ff6666;
	height: 50px;
	margin-bottom: 10px;
	font-size: 30px;
	border-top: solid 1px #ff6666;
	border-bottom: solid 1px #ff6666;
}
#footer{
	position: relative;
	bottom:0;
	width: 100%
	text-align: center;
	color: #ff6666;
	height: 30px;
	font-size: 20px;
	border-top: solid 1px #ff6666;
}
#newListButton{
	display: inline-block;
	margin-left: 10px;

  white-space: nowrap;
}
.board{

	overflow-x: auto;
	display: block;
	white-space: nowrap;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.list{
	text-align: center;
	vertical-align: top;
	white-space: nowrap;
	background-color: #ff6666;
	display: inline-block;
	position: relative;
	white-space: nowrap;
	width: 300px;
	margin-left: 10px;
	max-height: 90%;
	overflow: auto;
}
.listName{
	align-self: center;
}
.listName:hover{
	color: white;
}
.newCardButton{
	margin-bottom: 10px;
}
.card{
	position: relative;
	cursor: pointer;
	text-align: center;
	background-color: #ff9999;
	margin:20px;
	-webkit-user-select: none;
}
.card:nth-child(odd){
	text-align: center;
	background-color: #ffcccc;
	margin:20px;
}
.card:hover{
	background-color:#ff6666;

}
.cardName{
	cursor: text;
	display: inline-block;
	font-family: cursive;
	margin-bottom: 0;
}
.cardName:hover{
	color: white;
}

.cardTiles{
	margin:0;
	padding:0;
	height: 30px;
	cursor: text;
	display: block;
	cursor: pointer;
	line-height: 30px;
	color: #696969;
}

.hasDesc{
	cursor: pointer;
	font-size: 30px;
	padding-left: 10px;
}

.hasDead{
	cursor: pointer;
	font-size: 20px;
	padding-left: 10px;
}

.buttonRemoveCard{
	float: left;
	position: absolute;
	top: 0;

}
.buttonRemoveList{
	float: left;
	position: absolute;
	top: 0;

}


.cardDescTextBox{
	height: 60px;
	width: 200px;
	float:left;
}
.cardDescSave{
	float:right;
}
.buttonColourPicker{
	position: relative;
	display: block;
	top:10px;
	clear: both;
}
.colourPicker{
	position: relative;
	display: block;
}
.closeModal{
	margin-top:100px;
	clear:both;
}


h1, h3 {
    text-align: center;
    margin: 0 0 20px 0;
}

.modal {
	font-family: cursive;
    padding: 20px;
		display: inline-block;
    position: fixed;
    z-index: 1;
    top: 25%;
    left: 50%;
    margin: -70px 0 0 -120px;
		color:#47b28e;
    border: 1px solid #ccc;
		background-color:#c1ffea;
}



/* Animation */

.modal-anim-enter {
    opacity: 0.00;
    transform: scale(0.7);
    transition: all 0.2s;
}

.modal-anim-enter.modal-anim-enter-active {
    opacity: 1;
    transform: scale(1);

}

.modal-anim-leave {
    opacity: 1;
    transform: scale(1);
    transition: all 0.2s;
}

.modal-anim-leave.modal-anim-leave-active {
    opacity: 0.00;
    transform: scale(0.7);
}
