
*{
	font-family: cursive;
}
html,body{

}
body{
	background: url("src/images/background-1.jpg");
}

button {
    display: block;
    margin: 0 auto;
    padding: 6px 12px;

		border: 1px solid #ccc;
    border-radius: 4px;
    background: grey;

    color: white;
    font-weight: bold;

    font-size: 14px;
    line-height: 20px;
}

button:hover{
	background: grey;
	color: black;
}
#container{
	height: 100%;
	max-height: 100%;

}
#header{
	background-color: black;
	text-align: center;
	color: #ff6666;
	height: 50px;
	width:100%;
	margin: 0 auto;
	10px;
	margin-bottom: 10px;
	font-size: 30px;
	border-top: solid 1px #ff6666;
	border-bottom: solid 1px #ff6666;
}
#footer{
	position: relative;
	bottom:0;
	width: 100%
	text-align: center;
	color: #ff6666;
	height: 30px;
	font-size: 20px;
	border-top: solid 1px #ff6666;
}
#newListButton{
	display: inline-block;
	margin-left: 10px;

  white-space: nowrap;
}
.board{
	margin-top: 65px;
	overflow-x: auto;
	display: block;
	white-space: nowrap;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.list{
	text-align: center;
	vertical-align: top;
	white-space: nowrap;
	background-color: #f2f3f4;
	border: 1px solid transparent;
  border-radius: 4px;
	display: inline-block;
	position: relative;
	white-space: nowrap;
	width: 300px;
	margin-left: 10px;
	max-height: 95%;
	overflow: auto;
}
.listName{
	align-self: center;
}
.listNameInput{
	outline: none;
	resize: none;
	height: 26px;
	border: none;
	text-align: center;
	vertical-align: middle
}
.listName:hover{
	color: grey;
}
.newCardButton{
	margin-bottom: 10px;
}
.card{
	position: relative;
	cursor: pointer;
	text-align: center;
	background-color: #ff9999;
	margin:20px;
	border: 1px solid transparent;
  border-radius: 4px;
	overflow: hidden;
	-webkit-user-select: none;
}
.card:nth-child(odd){
	text-align: center;
	background-color: #ffcccc;
	margin:20px;
}
.card:hover{
	background-color:#ff6666;

}
.cardName{
	cursor: text;
	display: inline-block;
	font-family: cursive;
	word-wrap: break-word;
	margin-bottom: 0;
}
.cardName:hover{
	color: white;
}
.cardNameInput{
	margin: 5px 0px 5px 5px;
	width: 170px;
	height: 40px;
	resize: none;
	outline:none;
	border: none;
	float:left;

}
.buttonSaveCardName{
margin-top: 5px;
	float: left;
}

.cardTiles{
	margin:0;
	padding:0;
	height: 30px;
	cursor: text;
	display: block;
	cursor: pointer;
	line-height: 30px;
	color: #696969;
}

.hasDesc{
	cursor: pointer;
	font-size: 30px;
	padding-left: 10px;
}

.hasDead{
	cursor: pointer;
	font-size: 20px;
	padding-left: 10px;
}

.buttonRemoveCard{
	position: absolute;
	top: 0;
	left:0;

}
.buttonRemoveList{
	position: absolute;
	top: 0;
	left: 0;

}


.cardDescTextBox{
	height: 60px;
	width: 200px;
	float:left;
}
.cardDescSave{
	float:right;
}


.closeModal{
	margin-top:100px;
	clear:both;
}

.member{
	border: 1px solid black;
}

.buttonRemoveMember{
	display: inline-block;
}

.tags{
	clear: both;
	display: block;
}
.tag{
	display: inline-block;
	width: 35px;
	height: 35px;
}
.tag:hover{
	opacity:0;
}

}
.buttonAddTag{
	display: inline-block;
}
.colourPicker{
	clear: both;
	display: block;
}

h1, h3 {
    text-align: center;
    margin: 0 0 20px 0;
}

.modal {
	  text-align: center;
		font-family: cursive;
		display: inline-block;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
		overflow: auto;

}

.modalContent {
		display: inline-block;
		position: fixed;
		text-align: left;
		top: 50%;
		left: 50%;
		height: 500px;
		width: 500px;
		margin:-250px 0 0 -250px;
		padding: 20px;
		background-color:#f2f3f4;
		border: 1px solid transparent;
		border-radius: 4px;
		overflow: auto;
}

.modalSegment{
	display: block;
	margin: 20px;
}

.modalKey{
	display: inline-block;
}

.modalValue{
	display: inline-block;
	margin-left: 20px;
}
/* Animation */

.modal-anim-enter {
    opacity: 0.00;
    transform: scale(0.7);
    transition: all 0.2s;
}

.modal-anim-enter.modal-anim-enter-active {
    opacity: 1;
    transform: scale(1);

}

.modal-anim-leave {
    opacity: 1;
    transform: scale(1);
    transition: all 0.2s;
}

.modal-anim-leave.modal-anim-leave-active {
    opacity: 0.00;
    transform: scale(0.7);
}



.react-autosuggest__container {
  position: relative;
}

.react-autosuggest__input {
  width: 240px;
  height: 30px;
  padding: 10px 20px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 4px;
}

.react-autosuggest__input:focus {
  outline: none;
}

.react-autosuggest__container--open .react-autosuggest__input {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__container--open .react-autosuggest__suggestions-container {
  display: block;
  position: absolute;
  top: 51px;
  width: 280px;
  border: 1px solid #aaa;
  background-color: #fff;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion--focused {
  background-color: #ddd;
}
